[Desktop Entry]
Name=caps-fix
Comment=This program fixes the linux delay on caps lock key
Exec=$HOME/.local/bin/caps-fix
Icon=terminal
Terminal=false
Type=Application
NoDisplay=true
Categories=Application;
X-GNOME-Autostart-enabled=true